@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_DashboardLayout";
}

<div class="container">
    <marquee  direction="left" height="30px" >
        ‘R Solutions’ lets colleges & companies stay organized by giving them a central, secure place for storing their data, documents and processing the end-to-end recruitment activities online - REVIEW . REACH . RECRUIT
    </marquee>
    <div class="row">
        <div class="col-sm-12">
            <img src="/img/banner.png" alt="companies" class="ml-100" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a asp-controller="Companies" asp-action="Login">
                <img src="/img/Companylogo.png" alt="companies" class="wd-650 ht-570" />
            </a>
        </div>
        <div class="col-sm-6">
            <a asp-controller="Colleges" asp-action="Login">
                <img src="/img/college-collection.png" alt="colleges" class="wd-650 ht-570" />
            </a>
        </div>
    </div>
</div>
