@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LoginLayout";
}

@model LoginViewModel;

<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-com-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            <!-- Sign In Form -->
                            @if (!Model.IsLoginSucceed)
                            {
                                <div class="card border-danger mb-3">
                                    <div class="card-body text-danger">
                                        <h5 class="card-title">Login Failed</h5>
                                        <span class="card-text" asp-validation-for="PasswordMatchError"></span>
                                        <span class="card-text" asp-validation-for="UserInactiveError"></span>
                                    </div>
                                </div>
                            }
                            <form asp-action="Login" method="post">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" asp-for="UserName" placeholder="UserName" />
                                    <label asp-for="UserName">User Name</label>
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" asp-for="Password" placeholder="Password" />
                                    <label asp-for="Password">Password</label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="" asp-for="RememberMe">
                                    <label class="form-check-label" asp-for="RememberMe">
                                        Remember password
                                    </label>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                                    <div class="text-center">
                                        <a class="small" asp-action="register">Create New Account</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
